PF_AC_NUM_1=
PF_AC_NUM_2=
PF_CONTRACT_NUM_1=
PF_CONTRACT_NUM_2=

PF_WSDL=
PF_BINDING={http://www.parcelforce.net/ws/ship/v14}ShipServiceSoapBinding

SHIP_LIVE=true
PF_EXPR_USR=
PF_EXPR_PWD=
PF_ENDPOINT=https://expresslink.parcelforce.net/ws
