*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary: #007bff;
    /*--clr-secondary: #66ff00;*/
    --clr-main: rgb(157, 168, 171);
    --clr-wrapper: rgba(108, 117, 125, 0.42);
    --clr-success: #28a745;
    --clr-danger: #dc3545;
    --clr-warning: #ffc107;
    --clr-info: #17a2b8;
    --clr-light: #f8f9fa;
    --clr-dark: #343a40;
    --clr-white: #fff;
    --clr-dtg-orange-700: #df4817;
    --clr-3: #df4817;
    --clr-5: #df4817;
    --fs-500: 1.25rem;
    --fs-400: 1rem;

}

html {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

body {
    background-color: var(--clr-main);
    /*padding: 20px;*/
}

input, select, textarea, button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border-radius: 4px;
    padding: .3rem;
}

.alert {
    background-color: red;
    text-align: center;
    line-height: 2rem;
    font-size: 1.5rem;
    padding-block: 1rem;
}

h1 {
    /*text-align: center;*/
    font-size: 1.4rem;
}

.wrapper {
    border-radius: 1rem;
    margin-block: 3rem;
    padding-block: 1rem;
    padding-inline: 3rem;
    display: grid;
    max-width: min(100% - 3rem, 1200px);
    margin-inline: auto;
    gap: 1rem;
    background-color: var(--clr-wrapper);
}

.wrapper__booking {
    grid-template-areas:
           "cmc cmc cmc cmc"
           "shipment contact address notes"
           "submit submit submit submit";
           /*"notes notes notes";*/
}

.submit-confirm-btn {
}
.booking-confirmed {
    background-color: #28a745; /* Confirmation message color */
    color: white;
}
.email-body {
    font-family: "Roboto", sans-serif;
}
.commence {
    grid-area: cmc;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}
.email {
    grid-area: email;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.inputs {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 1rem;
    gap: .5rem;
    border-radius: 1rem;
}

.inputs__ship {
    grid-area: shipment;
}

.inputs__contact {
    grid-area: contact;
}


.inputs__address {
    grid-area: address;

    .addr-head {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: space-between;
    }

    span {
        align-self: start;
        justify-self: end;
        font-size: 0.7rem;
    }
}

.inputs__notes {
    grid-area: notes;
    /*flex-direction: row;*/
    /*margin-inline: auto;*/
    /*gap: 1rem;*/

    > div {
        display: flex;
        flex-direction: column;
    }
}


.postcode-div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    /*align-items: center;*/
    /*margin-block: 1rem;*/

    .postcode-pair {
        display: flex;
        flex-direction: column;
        /*gap: 1rem;*/
    }

    #postcode {
        /*max-width: max(50%, 150px);*/
        /*display: inline;*/
    }

    button {
        align-self: end;
        font-size: 18px;
    }
}



button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding-inline: 5px;
    padding-block: 2px;
    background-color: blue;
    color: white;
    line-height: 2rem;
    font-size: 1.5rem;
    margin-block: 1rem;
    /*line-height: 2rem;*/
    /*background-color: purple;*/
}

button.submit-request {
    grid-area: submit;
}
/*button.submit-confirm{*/
/**/
/*}*/
button.update-address-btn {
    font-size: 18px;
}

button:hover {
    background-color: purple;
}


input:focus,
select:focus {
    border: 3px solid #186d9a;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.wrapper__requested {
    display: grid;

    grid-template-areas:
        "... head head ..."
        "details contact address notes"
        "collection collection collection collection"
;
}

.shipper {
    display: flex;
    justify-content: center;
}
.shipper__live {
    background-color: rgba(255, 0, 0, 0.23);
}

.shipper__sandbox {
    background: rgba(255, 193, 7, 0.48);

}
.requested-shipment {
    /*border: 1px solid #ccc;*/
    /*padding: 20px;*/
    /*border-radius: 5px;*/
    /*margin-bottom: 20px;*/


    .requested-head {
        grid-area: head;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }

    .requested-title {
        /*grid-area: title;*/
    }

    /*.submit-confirm {*/
    /*}*/

    .requested-container {
        display: grid;
        flex-wrap: wrap;
        gap: 20px;
    }

    .requested {
        /*display: flex;*/
        /*flex-direction: column;*/
        /*flex: 1;*/
        /*min-width: 300px;*/
        /*border: 1px solid black;*/
        /*padding: 15px;*/
        /*border-radius: 5px;*/
    }

    .requested__address {
        grid-area: address;
    }

    .requested__contact {
        grid-area: contact;

    }

    .requested__details {
        grid-area: details;
    }

    .requested__notes {
        grid-area: notes;
    }

    .requested__collection {
        grid-area: collection;
    }
}

.loading-spinner {
    display: none;
    /*display: flex;*/
    justify-content: center;
    /*align-items: center;*/
    /*height: 100vh;*/
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-bottom-color: #FF3D00;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}




