*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary: #007bff;
    /*--clr-secondary: #66ff00;*/
    --clr-main: rgb(157, 168, 171);
    --clr-wrapper: rgba(108, 117, 125, 0.42);
    --clr-success: #28a745;
    --clr-danger: #dc3545;
    --clr-warning: #ffc107;
    --clr-info: #17a2b8;
    --clr-light: #f8f9fa;
    --clr-dark: #343a40;
    --clr-white: #fff;
    --clr-dtg-orange-700: #df4817;
    --clr-3: #df4817;
    --clr-5: #df4817;
    --fs-500: 1.25rem;
    --fs-400: 1rem;

}

html {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

body {
    background-color: var(--clr-main);
    /*padding: 20px;*/
}

input, select, textarea, button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border-radius: 4px;
    padding: .3rem;
}

#main-form {
    max-width: min(100% - 3rem, 1200px);
    margin-inline: auto;
}
h1 {
    /*text-align: center;*/
    font-size: 1.4rem;
}
.wrapper {
    border-radius: 1rem;
    /*font-size: 1.5rem;*/
    /*width:100%;*/
    margin-block: 3rem;
    padding-block: 1rem;
    padding-inline: 3rem;
    display: grid;
    grid-template-areas:
        "cmc cmc cmc"
        "shipment contact address"
        "submit submit submit"
        "notes notes notes";

    gap: 1rem;
    /*background-color: red;*/
    background-color: var(--clr-wrapper);
}

.commence {
    grid-area: cmc;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}

.inputs {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 1rem;
    gap: .5rem;
    border-radius: 1rem;
}

.inputs__ship {
    grid-area: shipment;
}

.inputs__contact {
    grid-area: contact;
}
.alert {
    background-color: red;
    text-align: center;
    line-height: 2rem;
    font-size: 1.5rem;
    padding-block: 1rem;
}
.inputs__address {
    grid-area: address;

    .addr-head {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: space-between;
    }

    span {
        align-self: start;
        justify-self: end;
        font-size: 0.7rem;
    }
}

.inputs__notes {
    grid-area: notes;
    flex-direction: row;
    margin-inline: auto;
    gap: 1rem;

    > div {
        display: flex;
        flex-direction: column;
    }
}


.postcode-div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    /*align-items: center;*/
    /*margin-block: 1rem;*/

    .postcode-pair {
        display: flex;
        flex-direction: column;
        /*gap: 1rem;*/
    }

    #postcode {
        /*max-width: max(50%, 150px);*/
        /*display: inline;*/
    }

    button {
        /*margin-top: 5px;*/
        align-self: end;
        /*display: inline;*/
        font-size: 18px;
    }
}



button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding-inline: 5px;
    padding-block: 2px;
    /*line-height: 2rem;*/
    /*background-color: purple;*/
}

button[type="submit"] {
    grid-area: submit;
    /* Your styles here */
    background-color: blue;
    color: white;
    line-height: 2rem;
    font-size: 1.5rem;
    margin-block: 1rem;
}


button:hover {
    background-color: purple;
}


input:focus,
select:focus {
    border: 3px solid #186d9a;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


