{% extends "base.html" %}

{% block title %}Amherst Shipper{% endblock %}

{% block content %}
    <form id="main-form" hx-post="post_form/"
          hx-target=".returned-request"
          hx-swap="innerHTML"
            {#          hx-ext="submitjson"#}
    >
        <div class="wrapper wrapper__booking">
            <input type="hidden"
                   value="{{ booking.id }}"
                   name="booking_id">
            <section class="inputs inputs__ship">
                <h1>Shipment</h1>
                <label for="ship_date">Date:</label>
                <input type="date" id="ship_date" name="shipping_date"
                       value="{{ booking.shipment_request.shipping_date }}"
                       required>
                <label for="boxes">Boxes:</label>
                <select id="boxes" name="total_number_of_parcels">
                    {% for i in range(1,13) %}
                        <option value="{{ i }}" {% if i == booking.record.boxes %}selected{% endif %}>{{ i }}</option>
                        {#                        <option value={{ i }}>{{ i }} {% selected if i==booking.record.total_number_of_parcels else '' %} {% endif %}</option>#}
                    {% endfor %}
                </select>
                <label for="service">Service:</label>
                <select id="service" name="service_code">
                    <option value="SND" selected>Express 24</option>
                    <option value="09">Express Pre-9am</option>
                    <option value="S10">Express Pre-10am</option>
                    <option value="S12">Express Pre-Noon</option>
                    <option value="SUP">Express 48</option>
                    <option value="SPM">Express PM</option>
                </select>
                <label for="direction">Direction:</label>
                <select id="direction" name="direction">
                    <option value="out" selected>Outbound</option>
                    <option value="in">Inbound Collection</option>
                    <option value="dropoff">Inbound Dropoff</option>
                </select>
                <label for="own_label" id="own_label_label">Label Printing:</label>
                <select id="own_label" name="own_label">
                    <option value="True" selected>We Print Labels</option>
                    <option value="False">Driver Brings Labels</option>
                </select>


            </section>

            <section class="inputs inputs__contact">
                <h1>Contact</h1>
                <label for="business_name">Business Name:</label>
                <input type="text" id="business_name" name="business_name"
                       value="{{ booking.shipment_request.recipient_contact.business_name }}"
                       required>

                <label for="contact_name">Contact Name:</label>
                <input type="text" id="contact_name" name="contact_name"
                       value="{{ booking.shipment_request.recipient_contact.contact_name }}"
                       required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email_address"
                       value="{{ booking.shipment_request.recipient_contact.email_address }}"
                       required>

                <label for="mobile_phone">Mobile Phone:</label>
                <input type="tel" id="mobile_phone" name="mobile_phone"
                       value="{{ booking.shipment_request.recipient_contact.mobile_phone }}"
                       required>
            </section>

            <section class="inputs inputs__address">
                {% include 'old/input_address_f_booking.html' with context %}
            </section>

            <section class="inputs inputs__notes">
                <label for="reference_number1">Reference Numbers:</label>
                <input type="text" id="reference_number1" name="reference_number1"
                        {% if booking.shipment_request.reference_number1 %}
                       value="{{ booking.shipment_request.reference_number1 }}"
                        {% endif %}
                       maxlength="24">
                <!--suppress HtmlFormInputWithoutLabel -->
                <input type="text" id="reference_number2" name="reference_number2"
                        {% if booking.shipment_request.reference_number2 %}
                       value="{{ booking.shipment_request.reference_number2 }}"
                        {% endif %}
                       aria-labelledby="reference_number1"
                       maxlength="24">
                <!--suppress HtmlFormInputWithoutLabel -->
                <input type="text" id="reference_number3" name="reference_number3"
                        {% if booking.shipment_request.reference_number3 %}
                       value="{{ booking.shipment_request.reference_number3 }}"
                        {% endif %}
                       aria-labelledby="reference_number1" maxlength="24">
                <label for="special_instructions1">Special Instructions:</label>
                <input type="text" id="special_instructions1" name="special_instructions1"
                        {% if booking.shipment_request.special_instructions1 %}
                       value="{{ booking.shipment_request.special_instructions1 }}"
                        {% endif %}
                       maxlength="25">
                <!--suppress HtmlFormInputWithoutLabel -->
                <input type="text" id="special_instructions2" name="special_instructions2"
                        {% if booking.shipment_request.special_instructions2 %}
                       value="{{ booking.shipment_request.special_instructions2 }}"
                        {% endif %}
                       aria-labelledby="special_instructions1"
                       maxlength="24">
                <!--suppress HtmlFormInputWithoutLabel -->
                <input type="text" id="special_instructions3" name="special_instructions3"
                        {% if booking.shipment_request.special_instructions3 %}
                       value="{{ booking.shipment_request.special_instructions3 }}"
                        {% endif %}
                       aria-labelledby="special_instructions1"
                       maxlength="24">
                {#                                    </div>#}
            </section>
            <section class="inputs inputs__submit">
                <button type="submit" class="submit-request">Submit</button>
{#                <form hx-post="confirm_booking" hx-target="#main-form" hx-swap="innerHTML">#}
{#                    <input type="hidden" name="booking_id" value='{{ booking.id }}'>#}
{#                    <button class="submit-confirm-btn">Confirm Booking</button>#}
{#                </form>#}
                {#                <button class="submit-confirm-btn">Confirm Booking</button>#}
                {#                <button class="submit-confirm-btn"></button>#}
            </section>
        </div>

    </form>
    <div class="returned-request"></div>
{% endblock %}




{% block scripts %}
    <script>
        {#htmx.defineExtension('submitjson', {#}
        {#    onEvent: function (name, evt) {#}
        {#        if (name === "htmx:configRequest") {#}
        {#            evt.detail.headers['Content-Type'] = "application/json"#}
        {#            evt.detail.headers['X-API-Key'] = 'sjk_xxx'#}
        {#        }#}
        {#    },#}
        {#    encodeParameters: function (xhr, parameters, elt) {#}
        {#        xhr.overrideMimeType('text/json') // override default mime type#}
        {#        const body = { // set your request body#}
        {#            data: parameters,#}
        {#            options: {submissionFormat: 'pretty'}#}
        {#        }#}
        {#        return (JSON.stringify(body))#}
        {#    }#}

        function toggleOwnLabel() {
            let direction = document.getElementById("direction").value;
            let ownLabelLabel = document.getElementById("own_label_label");
            let ownLabelSelect = document.getElementById("own_label");
            console.log("Direction:", direction);  // Debug logging
            console.log("ownLabelLabel:", ownLabelLabel);  // Debug logging
            console.log("ownLabelSelect:", ownLabelSelect);  // Debug logging
            if (direction === "in") {
                ownLabelLabel.style.display = '';
                ownLabelSelect.style.display = '';
            } else {
                ownLabelLabel.style.display = 'none';
                ownLabelSelect.style.display = 'none';
            }
        }

        document.addEventListener("DOMContentLoaded", function () {
            toggleOwnLabel();
            setMatchScoreStyle();
        });
        document.getElementById("direction").addEventListener("change", toggleOwnLabel);

        {#async function submitForm() {#}
        {#    const form = document.getElementById('main-form');#}
        {#    const formData = new FormData(form);#}
        {#    const jsonData = Object.fromEntries(formData.entries());#}
        {##}
        {#    const response = await fetch('/submit', {#}
        {#        method: 'POST',#}
        {#        headers: {#}
        {#            'Content-Type': 'application/json'#}
        {#        },#}
        {#        body: JSON.stringify(jsonData)#}
        {#    });#}
        {##}
        {#    const result = await response.json();#}
        {#    console.log(result);#}
        {#{#}
    </script>
{% endblock %}