{% for order in response.records %}

    <div class="record record-order"
    hx-get="/html/row_id/{{ order.category }}/{{ order.row_id }}"
    hx-target="#top-content">
        {{ order.customer_name }}
        {% if order.send_date %}
            ({{ order.dt_ordinal(order.send_date) }})
        {% endif %}
{#    <button hx-post="" hx-target="#top-content" value={{ order.model_dump_json() }}></button>#}
    </div>

{% endfor %}


{% if response.more %}
{% include 'infinite.html' with context %}
{% endif %}