{#context = {response, shipment}#}
{##}
{#<div class="wrapper wrapper__results">#}
{#    <div class="response">#}
{#        <div class="result">#}
{#            {% if response.alerts %}#}
{#                <div class="alerts">#}
{#                    {% for alert in response.alerts.alert %}#}
{#                        <div class="alert">#}
{#                            <p>{{ alert.message }}</p>#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                </div>#}
{#            {% endif %}#}
{#            {% if response.completed_shipment_info %}#}
{#                <div class="result__success">#}
{#                    <h2>Shipment Number {{ response.shipment_num }} Confirmed</h2>#}
{##}
{#                    {% if shipment.direction == 'in' and not shipment.print_own_label %}#}
{#                        <p>Driver bringing Labels</p>#}
{#                    {% else %}#}
{#                        <p>label downloaded to {{ shipment.label_file }}</p>#}
{#                        <div class="label-actions">#}
{#                            <div class="label-action">#}
{#                                <form hx-post="/print-file?filepath={{ shipment.label_file }}" hx-target="#label-action-result" hx-swap="innerHTML">#}
{#                                    <input type="hidden" name="label_path" value="{{ shipment.label_file }}">#}
{#                                    <button type="submit" class="btn-print-label">Print Label</button>#}
{#                                </form>#}
{#                            </div>#}
{##}
{#                            <div class="label-action">#}
{#                                <script>console.log("OPEN FILE{{ shipment.label_file }}")</script>#}
{#                                <form hx-post="/ship/open-file" hx-target="#label-action-result" hx-swap="innerHTML">#}
{#                                <form hx-get="/open-file?filepath={{ shipment.label_file }}" hx-target="#label-action-result" hx-swap="innerHTML">#}
{#                                    <button type="submit" class="btn-print-label">Open Label</button>#}
{#                                </form>#}
{#                            </div>#}
{##}
{#                            <div id="label-action-result"></div>#}
{##}
{#                        </div>#}
{##}
{#                    {% endif %}#}
{##}
{#                </div>#}
{##}
{##}
{#            {% else %}#}
{#                <div class="result__failure">#}
{#                    <h2>Booking Failed</h2>#}
{#                    <p>There was a problem with your booking.</p>#}
{#                </div>#}
{#            {% endif %}#}
{##}
{#        </div>#}
{#    </div>#}
{##}
{#</div>#}