{#<!-- templates/order_detail.html -->#}
{#{% for record in response.records %}#}
{#    <div class="record record__customer">#}
{#        <h3 class="record-head"#}
{#            hx-get="/orders?customer_name={{ record.customer_name | urlencode }}&cmc_filter=loose"#}
{#            hx-target="#{{ record.customer_name | sanitise_id }}_records"#}
{#            hx-swap="outerHTML"#}
{#            hx-trigger="click"#}
{#        >#}
{#            {{ record.name }}#}
{#        </h3>#}
{#    </div>#}
{#{% endfor %}#}
{##}
{#{% if response.more %}#}
{#    {% include 'infinite.html' with context %}#}
{#{% endif %}#}
