<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Form Page{% endblock %}</title>
    <script src="https://unpkg.com/htmx.org@1.5.0/dist/htmx.min.js"></script>
    <script src="{{ url_for('static', path='script.js') }}" defer></script>
    <link href="{{ url_for('static', path='style.css') }}" rel="stylesheet">
    {% block head %}{% endblock %}
</head>
<body>
<main>
    <div class="multi">
        {% block sidebar %}{% endblock %}
        {% block content %}{% endblock %}
    </div>
</main>
{% block scripts %}{% endblock %}
</body>
</html>
