{% extends "base.html" %}

{% block title %}Amherst Shipper{% endblock %}

{% block content %}
    {% include 'email_handler.html' with context %}

    <form id="main-form" hx-post="post_form/{{ shiprec.id }}"
          hx-target=".returned-request"
          hx-swap="innerHTML">
        <div class="wrapper wrapper__booking">
            <div class="commence">
                <h1>
                    {{ shiprec.record.name }}
                </h1>
            </div>

            <section class="inputs inputs__ship">
                <h1>Shipment</h1>
                <label for="ship_date">Date:</label>
                <input type="date" id="ship_date" name="ship_date" value="{{ shiprec.shipment.ship_date }}"
                       required>
                <label for="boxes">Boxes:</label>
                <select id="boxes" name="boxes">
                    {% for i in range(1,13) %}
                        <option value={{ i }}>{{ i }}</option>
                    {% endfor %}
                </select>
                <label for="direction">Direction:</label>
                <select id="direction" name="direction">
                    <option value="out" selected>Outbound</option>
                    <option value="in">Inbound Collection</option>
                    <option value="dropoff">Inbound Dropoff</option>
                </select>
                <label for="service">Service:</label>
                <select id="service" name="service">
                    <option value="SND" selected>Express 24</option>
                    <option value="09">Express Pre-9am</option>
                    <option value="S10">Express Pre-10am</option>
                    <option value="S12">Express Pre-Noon</option>
                    <option value="SUP">Express 48</option>
                    <option value="SPM">Express PM</option>
                </select>
            </section>

            <section class="inputs inputs__contact">
                <h1>Contact</h1>
                <label for="business_name">Business Name:</label>
                <input type="text" id="business_name" name="business_name"
                       value="{{ shiprec.shipment.contact.business_name }}"
                       required>

                <label for="contact_name">Contact Name:</label>
                <input type="text" id="contact_name" name="contact_name"
                       value="{{ shiprec.shipment.contact.contact_name }}"
                       required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" value="{{ shiprec.shipment.contact.email_address }}"
                       required>

                <label for="mobile_phone">Mobile Phone:</label>
                <input type="tel" id="mobile_phone" name="phone" value="{{ shiprec.shipment.contact.mobile_phone }}"
                       required>
            </section>

            <section class="inputs inputs__address">
                {% include 'address_inputs.html' with context %}
            </section>

            <section class="inputs inputs__notes">
                <h1>Notes</h1>
                {#                <div class="reference">#}
                <label for="reference_number1">Reference:</label>
                {% for refname, ref in [("ref1", shiprec.shipment.reference_number1), ("ref2", shiprec.shipment.reference_number2), ("ref3", shiprec.shipment.reference_number3)] %}
                    <input type="text"
                           id="{{ refname }}"
                           name="{{ refname }}"
                            {% if ref %}
                           value="{{ ref }}"
                            {% endif %}
                           maxlength="24">
                {% endfor %}
{#                <label for="reference_number1">Reference:</label>#}
{#                <input type="text" id="reference_number1" name="reference_number1"#}
{#                       value="{{ shiprec.shipment.reference_number1 }}" maxlength="24">#}
{#                <!--suppress HtmlFormInputWithoutLabel -->#}
{#                <input type="text" id="reference_number2" name="reference_number2"#}
{#                       value="{{ shiprec.shipment.reference_number2 }}"#}
{#                       aria-labelledby="reference_number1" maxlength="24">#}
{#                <!--suppress HtmlFormInputWithoutLabel -->#}
{#                <input type="text" id="reference_number3" name="reference_number3"#}
{#                       value="{{ shiprec.shipment.reference_number3 }}"#}
{#                       aria-labelledby="reference_number1" maxlength="24">#}
                {#                </div>#}
                {#                <div class="special_instructions">#}

                <label for="special_instructions1">Special Instructions:</label>
                {% for refname, ref in [("ref1", shiprec.shipment.special_instructions1), ("ref2", shiprec.shipment.special_instructions2), ("ref3", shiprec.shipment.special_instructions3)] %}
                    <input type="text"
                           id="{{ refname }}"
                           name="{{ refname }}"
                            {% if ref %}
                           value="{{ ref }}"
                            {% endif %}
                           maxlength="24">
                {% endfor %}

{#                <label for="special_instructions1">Special Instructions:</label>#}
{#                <input type="text" id="special_instructions1" name="special_instructions1"#}
{#                       value="{{ shiprec.shipment.special_instructions1 }}" maxlength="25">#}
{#                <!--suppress HtmlFormInputWithoutLabel -->#}
{#                <input type="text" id="special_instructions2" name="special_instructions2"#}
{#                       value="{{ shiprec.shipment.special_instructions2 }}" aria-labelledby="special_instructions1"#}
{#                       maxlength="24">#}
{#                <!--suppress HtmlFormInputWithoutLabel -->#}
{#                <input type="text" id="special_instructions3" name="special_instructions3"#}
{#                       value="{{ shiprec.shipment.special_instructions3 }}" aria-labelledby="special_instructions1"#}
{#                       maxlength="24">#}
                {#                </div>#}
            </section>

            <button type="submit" class="submit-request">Submit</button>
        </div>

    </form>
    <div class="returned-request"></div>
{% endblock %}

