<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Form Page{% endblock %}</title>
    <script src="https://unpkg.com/htmx.org@1.5.0/dist/htmx.min.js"></script>
    <script src="{{ url_for('static', path='script.js') }}"></script>
    <link href="{{ url_for('static', path='style.css') }}" rel="stylesheet">


    {% block head %}{% endblock %}
</head>
<body>
<header>

</header>
<section>

</section>
<section>
    {% if shiprec and shiprec.record.alerts %}
    {% for alert in shiprec.record.alerts %}
    <div class="alert alert-{{ alert.type }}">{{ alert.message }}</div>
    {% endfor %}
    {% endif %}
</section>
<main>
    {% block content %}{% endblock %}
</main>
</body>
</html>
