{#{% for order in data %}#}
{#    <div>#}
{#        {{ order.customer.name }}#}
{#        ({{ order.send_date }})#}
{#    </div>#}
{#{% endfor %}#}

{% for customer in data %}
    <div>
        {{ customer.name }}
        {% for order in customer.hires + customer.sales %}
            <div class="order">
                <div class="ordercat">
                    {{ order.category.value }} - (
                </div>
                <div class="orderdate">
                    {{ order.dt_ordinal(order.send_date) }})
                </div>
            </div>
        {% endfor %}
    </div>
{% endfor %}
