<form hx-post="email" hx-target="#email-result" hx-swap="innerHTML" class="email-form">
    <h2>Send Email</h2>
    <section class="checkbox-group checkbox-group__attach">
        <h3>Attachments</h3>
        {#            <div class="checkbox-group checkbox-group__attach">#}
        {% for att in ['invoice', 'missing', 'label'] %}
            <div>
                <input type="checkbox" id="{{ att }}" name="att-{{ att }}">
                <label for="{{ att }}">{{ att.title() }}</label>
            </div>
        {% endfor %}
        {#            </div>#}
    </section>
    <section class="checkbox-group checkbox-group__recip">
        <h3>Email Recipients</h3>
        {#            <div class="checkbox-group checkbox-group__recip">#}
        {% for addr in booking.email_options  %}
            <div>
                <input type="checkbox" id="{{ addr.name }}" name="email-{{ addr.name }}"
                       value="{{ addr.email }}">
                <label for="{{ addr.name }}">{{ addr.email }} ({{ addr.description }})</label>
                <input type="hidden" name="booking_id" value="{{ booking.id }}">
            </div>
        {% endfor %}
        {#            </div>#}
    </section>

    <button id="email-btn" class="btn email-btn" type="submit">Send Email</button>
</form>
<div id="email-result"></div>
