<!-- templates/hires_sales2.html -->
{#context = {response: CustomerResponse}#}
{% for record in response.records %}
    <div class="record record__customer">

        <h3 class="record-head"
            hx-get="/customer?customer_name={{ record.customer_name | urlencode }}&filtered=false&py_filter=true"
            hx-target="#{{ record.customer_name | sanitise_id }}_records"
            hx-swap="outerHTML"
            hx-trigger="click"
        >
            {{ record.name }}
        </h3>
    </div>

{% endfor %}
{#{% if response.more %}#}
{#    {% include 'infinite.html' with context %}#}
{#{% endif %}#}
