{% extends "base.html" %}

{% block title %}Amherst Shipper{% endblock %}

{% block content %}
    {% if request.app.ship_live %}
        <div class="shipper shipper__live">Shipper in Live Mode</div>
    {% else %}
        <div class="shipper shipper__sandbox">Shipper in Sandbox Mode</div>
    {% endif %}
    {#    {% include 'alerts.html' with context %}#}

    <form id="main-form" hx-post="post_form/"
          hx-target=".returned-request"
          hx-swap="innerHTML">
        <div class="wrapper wrapper__booking">
            <div class="commence">
                <h1>
                    {{ booking.record.name }}
                </h1>
            </div>
            <input type="hidden"
            value="{{ booking.id }}"
            name="booking_id">
            <section class="inputs inputs__ship">
                <h1>Shipment</h1>
                <label for="ship_date">Date:</label>
                <input type="date" id="ship_date" name="ship_date" value="{{ booking.shipment_request.shipping_date }}"
                       required>
                <label for="boxes">Boxes:</label>
                <select id="boxes" name="boxes">
                    {% for i in range(1,13) %}
                        <option value={{ i }} {% if i == booking.record.boxes %}selected{% endif %}>{{ i }}</option>
                    {% endfor %}
                </select>
                <label for="direction">Direction:</label>
                <select id="direction" name="direction">
                    <option value="out" selected>Outbound</option>
                    <option value="in">Inbound Collection</option>
                    <option value="dropoff">Inbound Dropoff</option>
                </select>
                <label for="service">Service:</label>
                <select id="service" name="service">
                    <option value="SND" selected>Express 24</option>
                    <option value="09">Express Pre-9am</option>
                    <option value="S10">Express Pre-10am</option>
                    <option value="S12">Express Pre-Noon</option>
                    <option value="SUP">Express 48</option>
                    <option value="SPM">Express PM</option>
                </select>
            </section>

            <section class="inputs inputs__contact">
                <h1>Contact</h1>
                <label for="business_name">Business Name:</label>
                <input type="text" id="business_name" name="business_name"
                       value="{{ booking.shipment_request.recipient_contact.business_name }}"
                       required>

                <label for="contact_name">Contact Name:</label>
                <input type="text" id="contact_name" name="contact_name"
                       value="{{ booking.shipment_request.recipient_contact.contact_name }}"
                       required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" value="{{ booking.shipment_request.recipient_contact.email_address }}"
                       required>

                <label for="mobile_phone">Mobile Phone:</label>
                <input type="tel" id="mobile_phone" name="phone" value="{{ booking.shipment_request.recipient_contact.mobile_phone }}"
                       required>
            </section>

            <section class="inputs inputs__address">
                {% include 'input_address.html' with context %}
            </section>

            <section class="inputs inputs__notes">
                <h1>Notes</h1>
                {#                <label for="reference_number1">Reference:</label>#}
                {#                {% set ship = booking.shipment_request %}#}
                {#                {% set shiprefs = ['reference_number1', 'reference_number2', 'reference_number3'] %}#}
                {##}
                {#                {% for refname in shiprefs %}#}
                {#                    {% set ref = attribute(ship, refname) %}#}
                {#                    <input type="text" id="{{ refname }}" name="{{ refname }}"#}
                {#                            {% if ref %}#}
                {#                           value="{{ ref }}"#}
                {#                            {% endif %}#}
                {#                           maxlength="24">#}
                {#                {% endfor %}#}
                {#                {% for refname in shiprefs %}#}
                {#                    {%  set ref = getattr(ship, shipref) %}#}
                {#                    <input type="text" id="{{ refname }}" name="{{ refname }}"#}
                {#                            {% if ref %}#}
                {#                           value="{{ ref }}"#}
                {#                            {% endif %}#}
                {#                           maxlength="24">#}
                {#                {% endfor %}#}
                {##}
                {#                <label for="special_instructions1">Special Instructions:</label>#}
                {#                {% set shiprefs = ['special_instructions1', 'special_instructions2', 'special_instructions3'] %}#}
                {#                {% for refname in shiprefs %}#}
                {#                    {% set ref = attribute(ship, refname) %}#}
                {#                    <input type="text" id="{{ refname }}" name="{{ refname }}"#}
                {#                            {% if ref %}#}
                {#                           value="{{ ref }}"#}
                {#                            {% endif %}#}
                {#                           maxlength="24">#}
                {#                {% endfor %}#}

                {#                {% for refname, ref in [ship.special_instructions1, ship.special_instructions2, ship.special_instructions3] %}#}
                {#                    <input type="text" id="{{ refname }}" name="{{ refname }}"#}
                {#                            {% if ref %}#}
                {#                           value="{{ ref }}"#}
                {#                            {% endif %}#}
                {#                           maxlength="24">#}
                {#                {% endfor %}#}

                <input type="text" id="reference_number1" name="reference_number1"
                        {% if booking.shipment_request.reference_number1 %}
                       value="{{ booking.shipment_request.reference_number1 }}"
                        {% endif %}
                       maxlength="24">
                <!--suppress HtmlFormInputWithoutLabel -->
                <input type="text" id="reference_number2" name="reference_number2"
                        {% if booking.shipment_request.reference_number2 %}
                       value="{{ booking.shipment_request.reference_number2 }}"
                        {% endif %}
                       aria-labelledby="reference_number1"
                       maxlength="24">
                <!--suppress HtmlFormInputWithoutLabel -->
                <input type="text" id="reference_number3" name="reference_number3"
                        {% if booking.shipment_request.reference_number3 %}
                       value="{{ booking.shipment_request.reference_number3 }}"
                        {% endif %}
                       aria-labelledby="reference_number1" maxlength="24">
                {#        </div>#}
                {#                <div class="special_instructions">#}
                <label for="special_instructions1">Special Instructions:</label>
                <input type="text" id="special_instructions1" name="special_instructions1"
                        {% if booking.shipment_request.special_instructions1 %}
                       value="{{ booking.shipment_request.special_instructions1 }}"
                        {% endif %}
                       maxlength="25">
                <!--suppress HtmlFormInputWithoutLabel -->
                <input type="text" id="special_instructions2" name="special_instructions2"
                        {% if booking.shipment_request.special_instructions2 %}
                       value="{{ booking.shipment_request.special_instructions2 }}"
                        {% endif %}
                       aria-labelledby="special_instructions1"
                       maxlength="24">
                <!--suppress HtmlFormInputWithoutLabel -->
                <input type="text" id="special_instructions3" name="special_instructions3"
                        {% if booking.shipment_request.special_instructions3 %}
                       value="{{ booking.shipment_request.special_instructions3 }}"
                        {% endif %}
                       aria-labelledby="special_instructions1"
                       maxlength="24">
                {#                                    </div>#}
            </section>

            <button type="submit" class="submit-request">Submit</button>
        </div>

    </form>
    <div class="returned-request"></div>
{% endblock %}

