<div class="addr-head">
    <h1>Address</h1>
    <span>
    input address = {{ shiprec.shipment.address.lines_str_oneline }}
</span>
</div>

<label for="address_line1">Address Lines:</label>
<input type="text" id="address_line1" name="address_line1"
       value="{{ shiprec.shipment.address.address_line1 }}"
       required
>
<input type="text" id="address_line2" name="address_line2"
       value="{{ shiprec.shipment.address.address_line2 }}"
       aria-labelledby="address_line1"
>
<input type="text" id="address_line3" name="address_line3"
       value="{{ shiprec.shipment.address.address_line3 }}"
       aria-labelledby="address_line1"
>

<label for="town">Town:</label>
<input type="text" id="town" name="town" required
       value="{{ shiprec.shipment.address.town }}"
>
<label for="postcode">Postcode:</label>
<input type="text" id="postcode" name="postcode" required
       value="{{ shiprec.shipment.address.postcode }}"
>
<button type="button" class="update-address-btn" onclick="loadCandidates()">Update Address Choices</button>
{#    <button class="update-address-btn" onclick="loadCandidates()">Update Address Choices</button>#}

<label for="address-select">Choose Address</label>
<select id="address-select" name="address" onchange="updateManualFields()">
    {% for addr_choice in candidates %}
        <option value="{{ addr_choice.address.model_dump_json(by_alias=True) }}">{{ addr_choice.address.lines_str }}
        </option>
    {% endfor %}
</select>
