{#
@param candidates: List[AddressChoice]
@type AddressChoice = {
    address: {
        address_line1: str,
        address_line2: str,
        address_line3: str,
        town: str,
        postcode: str
    },
    lines_str: str
}
#}
{#{% extends "base.html" %}#}
{##}
{#{% block title %}Amherst Shipper Booking Confirmed{% endblock %}#}

{#{% block content %}#}

<div class="wrapper wrapper__results">
    <div class="response">
        <div class="result">
            {% if booking.booked or booking.completed() %}
                <div class="result__success">
                    <h2>Booking Confirmed</h2>
                    <p>Shipment Number {{ booking.response.shipment_num }} is booked with status
                        = {{ booking.status }}.</p>
                    <p>label downloaded to {{ booking.label_path }}</p>
                    <a href="{{ booking.response.tracking_link() }}" class="tracking">Tracking</a>

                    {% if booking.response.alerts %}
                        <div class="alerts">
                            {% for alert in booking.response.alerts.alert %}
                                <div class="alert">
                                    <p>{{ alert.message }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {##}
                    {% if booking.commence_updated %}
                        <p>Commence Has Been Updated with tracking info and DB Label = True</p>
                    {% endif %}

                    <div class="label-actions">
                        <div class="label-action">
                            <form hx-post="print" hx-target="#label-action-result" hx-swap="innerHTML">
                                <input type="hidden" name="label_path" value="{{ booking.label_path }}">
                                <button type="submit" class="btn-print-label">Print Label</button>
                            </form>
                        </div>
                        <div class="label-action">
                            <form hx-post="open-file" hx-target="#label-action-result" hx-swap="innerHTML">
                                <input type="hidden" name="label_path" value="{{ booking.label_path }}">
                                <button type="submit" class="btn-print-label">Open Label</button>
                            </form>
                        </div>
                        <form hx-post="email" hx-target="#label-action-result" hx-swap="innerHTML">
                            <div class="label-action label-action__email">
                                <button type="submit">Email Label</button>
                                <input type="hidden" name="booking_id" value="{{ booking.id }}">
                                <input type="hidden" id="label" name="att-label" value="true">
                                <div class="label-email-options">
                                    <label for="email-options">Email To:</label>
                                    <select multiple id='email-options' name="email-options">
                                        {% for addr in booking.email_options %}
                                            <option value="{{ addr.email }}">{{ addr.description }} ({{ addr.email }})</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </form>
                        <div id="label-action-result"></div>
                    </div>
                </div>
                {#                {% include 'email_send.html' with context %}#}
            {% else %}
                <div class="result__failure">
                    <h2>Booking Failed</h2>
                    <p>There was a problem with your booking.</p>
                </div>
            {% endif %}

        </div>
    </div>

    {#        {% include 'alerts.html' with context %}#}

    {#        <div class="email">#}
    {#            <form hx-post="email" hx-target="#email-result" hx-swap="innerHTML">#}
    {#                {% for addr in booking(.record.email_options %}#}
    {#                    <label for={{ addr.name }}>{{ addr.description }}</label>#}
    {#                    <input type="checkbox" id={{ addr.name }}>#}
    {#                {% endfor %}#}
    {##}
    {##}
    {#            </form>#}
    {#        </div>#}
</div>
<script>

</script>
{#{% endblock %}#}



