<div class="shipping-container">
    <form>
        <div class="date">
            {{ manager.state.ship_date }}
        </div>
        <div class="service">
            {{ manager.state.service }}
        </div>
        <div class="boxes">
            {{ manager.state.boxes }}
        </div>
        <div class="address-in">
            <p>{{ manager.item.input_address }}</p>
        </div>
        <div class="busname">
            <p>{{ manager.state.contact.business_name }}</p>

        </div>
        <div class="contact">
            <p>{{ manager.state.contact.contact_name }}</p>
        </div>
        <div class="phone">
            <p>{{ manager.state.contact.mobile_phone }}</p>
        </div>
        <div class="email">
            <p>{{ manager.state.contact.email }}</p>
        </div>
        <div class="add-select">
            <p>
                add select
            </p>
        </div>
    </form>
</div>
