{% extends "email_snips/email_base.html" %}

{% block content %}
    {% if invoice %}
        <p>Please find invoice number {{ invoice.stem }} attached - check it over making sure that equipment and
            delivery details are correct, and make payment before the hire date.</p>
        <p>Payment can be made by calling the office on 0207-328-9792 and using a card, by BACS (details at bottom of
            invoice), or by Paypal (paypal@amherst.co.uk).</p>
        <p>If paying by BACS or Paypal please use invoice number as reference, and let us know when it is done.</p>
    {% endif %}
{% endblock %}