<!-- templates/order_review.html -->
{#context = {shipment_request}#}
{% block head %}
    <script src="{{ url_for('static', path='ship.js') }}"></script>
    <link href="{{ url_for('static', path='ship.css') }}" rel="stylesheet">
{% endblock %}

{% set shipment = shipment_request.shipment %}

{% if alerts %}
    {% include "alerts.html" with context %}
{% endif %}

{##}
{#<div class="loading-spinner" id="loading-spinner">#}
{#    <span class="loader"></span>#}
{#</div>#}

<div id=requested_shipment class="wrapper wrapper__requested">
    <section class="requested requested__head">
        <h3 class="requested-title"> {{ shipment.direction.name }} Shipment:</h3>
        <form hx-post="/ship/post_confirm"
              hx-target=#content_main
              hx-swap="innerHTML"
        >
            <input type="hidden" name="shipment_req_str" value="{{ shipment_request.model_dump_json() }}">
            <input type="hidden" name="record_str" value="{{ record.model_dump_json() }}">
            {#            <button id="btn_ship" class="submit-confirm-btn" onclick="this.style.display='none'">#}
            <button id="btn_ship" class="submit-confirm-btn" onclick=hide_main_form()>
                Confirm Booking
            </button>
        </form>
    </section>


    <section class="requested requested__contact">
        {% set contact = shipment.remote_full_contact.contact %}
        <h4>Remote Contact</h4>
        <p>{{ contact.contact_name }}</p>
        <p><strong>Business:</strong> {{ contact.business_name }}</p>
        <p><strong>Email:</strong> {{ contact.email_address }}</p>
        <p><strong>Phone:</strong> {{ contact.mobile_phone }}</p>
    </section>

    <section class="requested requested__address">
        {% set address = shipment.remote_full_contact.address %}
        <h4>Remote Address</h4>
        {% for line in address.address_lines %}
            <p>{{ line }}</p>
        {% endfor %}
        <p>{{ address.town }}</p>
        <p>{{ address.postcode }}</p>

    </section>


    <section class="requested requested__details">
        <p><strong>Boxes:</strong> {{ shipment.boxes }}</p>
        <p><strong>Date:</strong> {{ shipment.shipping_date }}</p>
        <p><strong>Service:</strong> {{ shipment.service }}</p>
        <p><strong>Reference:</strong> {{ shipment.reference }}</p>
    </section>
</div>


<script>
    function hide_content_main() {
        const contentMain = document.querySelector('#content_main');
        contentMain.style.display = 'none';
    }

    function hide_main_form() {
        const main_form = document.querySelector('#main-form');
        main_form.style.display = 'none';
        const shipbtn = document.querySelector('#btn_ship');
        shipbtn.style.display = 'none';

        // Create and insert spinner
        const spinner = document.createElement('div');
        const contentMain = document.querySelector('#content_main');
        spinner.className = 'loading-spinner';
        spinner.innerHTML = '<span class="loader"></span>';
        contentMain.appendChild(spinner);
        spinner.style.display = 'flex';

    }

    {#const spinner = document.querySelector('.loading-spinner');#}
    {#if (spinner) spinner.style.display = 'flex';#}

    {#const contentMain = document.querySelector('#content_main');#}
    {#if (contentMain) {#}
    {#    contentMain.innerHTML = '<div id="booking-notice" class="booking-notice">Booking shipment...</div>';#}




    {#function hide_div() {#}
    {#    const spinner = document.querySelector('.loading-spinner');#}
    {#    const resultsDiv = document.querySelector('#content_main');#}
    {#    const requestDiv = document.querySelector('#requested_shipment');#}
    {#    const confirmButton = document.querySelector('.submit-confirm-btn');#}
    {#    const bookingBooked = {{ 'true' if booked else 'false' }};#}
    {##}
    {##}
    {#    confirmButton.addEventListener('click', function () {#}
    {#        console.log('confirm button clicked');#}
    {#        spinner.style.display = 'flex';#}
    {#        requestDiv.style.display = 'none';#}
    {#    });#}
    {##}
    {#    resultsDiv.addEventListener('htmx:afterOnLoad', function () {#}
    {#        console.log('htmx:afterOnLoad');#}
    {#        spinner.style.display = 'none';#}
    {#        requestDiv.style.display = '';#}
    {#    });#}
    {##}
    {#    if (bookingBooked) {#}
    {#        const bookingConfirmed = document.createElement('div');#}
    {#        bookingConfirmed.className = 'booking-confirmed';#}
    {#        bookingConfirmed.innerText = 'Booking Confirmed';#}
    {#        confirmButton.parentNode.replaceChild(bookingConfirmed, confirmButton)#}
    {#        console.log('script loaded')#}
    {#    }#}
    {##}
    {#    // hide order review if change input#}
    {#    const form = document.getElementById('main-form');#}
    {#    form.addEventListener('input', function () {#}
    {#        requestDiv.style.display = 'none';#}
    {#    });#}
    {#    form.addEventListener('submit', function (event) {#}
    {#        requestDiv.style.display = '';#}
    {#    });#}

    {#hide_div();#}


</script>

{#{% endblock %}#}


