<!-- templates/shipping_form_shape2.html -->
<link href="{{ url_for('static', path='ship.css') }}" rel="stylesheet">
<link href="{{ url_for('static', path='style.css') }}" rel="stylesheet">
<script src="{{ url_for('static', path='ship.js') }}"></script>

{% include 'ship/shipping_form_content.html' %}
<script>
    function refreshPage() {
        let shipment = {{ shipment|tojson }};
        let record = {{ record | tojson }};
        console.log('shipment', shipment);
        console.log('record', record);
        initShipPage(shipment, record);
    }

    document.addEventListener("DOMContentLoaded", function () {
        refreshPage();
    });
</script>

