<!-- templates/shipping_form_shape.html -->
{% extends "multi.html" %}
{% block head %}
    <script src="{{ url_for('static', path='ship.js') }}"></script>
    {{ super() }}
{% endblock %}

{% block content %}
    {% include 'ship/shipping_form_content.html' %}
{% endblock %}

{% block scripts %}
    <script>
        function refreshPage() {
            let shipment = {{ shipment|tojson }};
            let record = {{ record | tojson }};
            console.log('shipment', shipment);
            console.log('record', record);
            initShipPage(shipment, record);
        }

        document.addEventListener("DOMContentLoaded", function () {
            refreshPage();
        });
    </script>
    {{ super() }}
{% endblock %}

